.h1 {
    color: #0f0f0f; 
    text-align: center;
    }
  
  .h2 {
      color: #0a0808; 
      text-align: left; 
      font-size: 20px; 
      margin-top: 50px; 
      background-color: rgb(248, 244, 244);
      background-size: 50% 50%; 
      margin-bottom: 10px; 
      justify-content: space-between;
    }
    h4 {
      color: #0f0f0f; 
      text-align: left; 
      }
    .h5 {
      color: #0a0808;
      text-align: left; 
      font-size: 30px; 
      margin-top: 50px; 
      background-size: 50% 50%;
      margin-bottom: 10px; 
      justify-content: space-between;
    }
    .info-container {
      display: flex; 
      align-items: flex-start;
  }
  
  .navbar {
      background-color: #12ce5a; 
      display: flex;
      justify-content: center; 
      padding: 0; 
    }
    
    .container-fluid {
      display: flex;
      justify-content: center; 
    }
    
    
    
    .navbar-collapse {
      display: flex;
      justify-content: center; 
    }
    
    .navbar-nav {
      display: flex; 
      flex-direction: row; 
      justify-content: center; 
    }
    
    .nav-item {
      margin: 0 15px; 
    }
    
    .navbar-nav .nav-item .nav-link {
      color: #555; 
      font-size: 16px; 
    }
    
    .navbar-nav .nav-item .nav-link:hover {
      color: #000;
    }
    
    .navbar-nav .nav-item .nav-link.active {
      color: #007bff; 
    }
    
    .navbar-nav .nav-item .nav-link.disabled {
      color: #aaa; 
    }
     
     .carousel {
      width: 80%;
      max-width: 600px; 
      margin: auto; 
      border-radius: 10px;
      overflow: hidden; 
      height: 700px; 
  }
  
  
  .carousel-item img {
      width: 100%; 
      height: auto; 
      border-radius: 10px; 
      object-fit: cover; 
  }
  
  
  .carousel-control-prev,
  .carousel-control-next {
      filter: invert(1); 
  }
  
 
  .carousel {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
  }
  .card-container{
    display: flex;
    justify-content: space-between;
    width: 80%;                   
    max-width: 1200px;           
  }
  .card {
    background-color: #ffffff;
    border: 1px solid #dddddd; 
    border-radius: 8px;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;        
    flex: 1;                   
    margin: 0 10px;            
  }
  .button {
    background-color: #0b0c0c; 
    color: #ffffff;            
    text-decoration: none;    
    padding: 10px 20px;        
    border-radius: 5px;        
    cursor: pointer;           
    font-size: 1em;           
    transition: background-color 0.3s; 
  }
  .button:hover {
    background-color: #0056b3; 
  }
  .footer{
    text-align: center;
    background-color:rgb(4, 156, 29);
  }
  .Tab {
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .Tab th {
    background-color: #030303;
    color: #f0efef;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
  }
  
  .Tab tbody tr:hover {
    background-color: #dd2808;
  }
  
  .Tab td {
    border: 1px solid #ccc;
    font-size: 20px;
  }
  
  .tcuerpo {
    background-color: rgb(230, 229, 220);
  }
     
